{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Momo Dashboard
    </title>
    <link rel="icon" type="image/png" href="./images/M_Logo.jpg" />
    <link rel="stylesheet" href="{% static 'momo/css/swag.css' %}" />

    <!-- box icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- header design -->
    <header class="header">
      <a href="#" class="logo"
        >THE M-MONEY DASHBOARD <span class="animate" style="--i: 1"></span
      ></a>
      <div class="bx bx-menu" id="menu-icon">
        <span class="animate" style="--i: 2"></span>
      </div>
      <nav class="navbar">
        <a href="#home" class="active">HOME</a>
        <a href="#history">HISTORY</a>
        <a href="#dashboard">DASHBOARD</a>
        <a href="#percentage_charts">OVERVIEW</a>

        <span class="active-nav"></span>
        <span class="animate" style="--i: 2"></span>
      </nav>
    </header>
    <!-- home section design -->
    <section class="home show-animate" id="home">
      <div class="home-content">
        <h1>
          MTN <span> MOMO</span
          ><span class="animate" style="--i: 2"></span>
        </h1>
        <div class="text-animate">
          <h3>DASHBOARD</h3>
          <span class="animate" style="--i: 3"></span>
        </div>
        <p>
           Hi there! I’m your MTN MoMo Dashboard. The smart buddy that keeps tabs on your mobile money life.
From sending cash to friends, buying airtime, paying bills, or topping up electricity, I’ve got you covered. I scoop the info right from your SMS messages and turn it into clear, colorful insights, all in one place.
Think of me as your personal finance sidekick, always ready to help you track, sort, and understand where your money is going. With me, mobile money management is quick, simple, and kinda fun too.
 <br />
          <span class="animate" style="--i: 4"></span>
        </p>



        <div class="home-sci">

        <a href="#history"><i class='bx bxs-credit-card-front'></i>

        <span class="animate" style="--i: 6"></span>
      </div>

      <div class="home-imgHover"></div>
      <span class="animate home-img" style="--i: 7"></span>
    </section>

    <!-- dashboard section design -->
    <section class="dashboard" id="dashboard">
      <h2 class="heading">
         <span>Dashboard</span><span class="animate scroll" style="--i: 1"></span>
      </h2>
      <!-- dashboard -->
      <section class="charts" id="charts">
        <h2 class="heading">
         <span>Transaction Analysis</span>
          <span class="animate scroll" style="--i: 1"></span>
        </h2>

        <div class="charts-row">
          <!-- Transaction Volume Chart -->
          <div class="charts-column">
            <h3 class="title">
              Transaction Volume<span class="animate scroll" style="--i: 2"></span>
            </h3>
            <div class="charts-box">
              <div class="charts-content">
                <canvas id="transactionVolumeChart"></canvas>
              </div>
              <span class="animate scroll" style="--i: 3"></span>
            </div>
          </div>

          <!-- Monthly Trends Chart -->
          <div class="charts-column">
            <h3 class="title">
              Monthly Trends<span class="animate scroll" style="--i: 5"></span>
            </h3>
            <div class="charts-box">
              <div class="charts-content">
                <canvas id="monthlyTrendsChart"></canvas>
              </div>
              <span class="animate scroll" style="--i: 6"></span>
            </div>
          </div>

          <!-- Service Provider Distribution -->
          <div class="charts-column">
            <h3 class="title">
              Service Providers<span class="animate scroll" style="--i: 7"></span>
            </h3>
            <div class="charts-box">
              <div class="charts-content">
                <canvas id="providerDistributionChart"></canvas>
              </div>
              <span class="animate scroll" style="--i: 8"></span>
            </div>
          </div>
        </div>
      </section>
     

      <div class="dashboard-content">
        <h3>
          <span
            class="animate scroll"
            style="--i: 4"
          ></span>
        </h3>
      </div>
    </section>
<!-- history section design -->
<section class="history" id="history">
  <h2 class="heading">
    <span>Transaction History</span>
    <span class="animate scroll" style="--i: 1"></span>
  </h2>

  <div class="history-row">
    <div class="history-column">
      <h3 class="title">
        <span class="animate scroll" style="--i: 2"></span>
      </h3>

      <div class="history-box">

        <div class="history-content">
          <div class="content">
            <a href="{% url 'momo:cashpower' %}">
              <div class="year"><i class="bx bx-table"></i>Payments</div>
              <h3>CashPower</h3>
              <p>Details of electricity bill purchases made through your account.</p>
            </a>
          </div>
        </div>

        <div class="history-content">
          <div class="content">
            <a href="{% url 'momo:transactions' %}">
              <div class="year"><i class="bx bx-table"></i>Transactions</div>
              <h3>Transactions</h3>
              <p>Summary of activities initiated by external agents on your behalf.</p>
            </a>
          </div>
        </div>

        <div class="history-content">
          <div class="content">
            <a href="{% url 'momo:data' %}">
              <div class="year"><i class="bx bx-table"></i>Payments</div>
              <h3>Data Bundles</h3>
              <p>Insights into all internet bundle purchases processed via your wallet.</p>
            </a>
          </div>
        </div>

        <div class="history-content">
          <div class="content">
            <a href="{% url 'momo:moneyrecieved' %}">
              <div class="year"><i class="bx bx-table"></i>Incoming Money</div>
              <h3>Money Recieved</h3>
              <p>Log of funds that have been successfully credited to your account.</p>
            </a>
          </div>
        </div>

        <div class="history-content">
          <div class="content">
            <a href="{% url 'momo:paymenttocode' %}">
              <div class="year"><i class="bx bx-table"></i>Payments</div>
              <h3>Payments To Codes</h3>
              <p>Documentation of transfers made to unique payment code owners.</p>
            </a>
          </div>
        </div>

        <div class="history-content">
          <div class="content">
            <a href="{% url 'momo:airtime' %}">
              <div class="year"><i class="bx bx-table"></i>Payments</div>
              <h3>Airtime</h3>
              <p>List of all airtime top-ups completed using your balance.</p>
            </a>
          </div>
        </div>

        <div class="history-content">
          <div class="content">
            <a href="{% url 'momo:withdrawals' %}">
              <div class="year"><i class="bx bx-table"></i>Withdrawals</div>
              <h3>Cash Withdraw</h3>
              <p>History of all cash withdrawals conducted from your wallet.</p>
            </a>
          </div>
        </div>

        <div class="history-content">
          <div class="content">
            <a href="{% url 'momo:transferstomomo' %}">
              <div class="year"><i class="bx bx-table"></i>Transfers</div>
              <h3>MoMo</h3>
              <p>Overview of money sent directly to other mobile accounts.</p>
            </a>
          </div>
        </div>

        <div class="history-content">
          <div class="content">
            <a href="{% url 'momo:bankdepo' %}">
              <div class="year"><i class="bx bx-table"></i>Deposits</div>
              <h3>Bank Deposits</h3>
              <p>
                Statements of deposits received from linked bank accounts into your wallet.


              </p>
            </a>
          </div>
        </div>

        <span class="animate scroll" style="--i: 3"></span>
      </div>
    </div>
    <span class="animate scroll" style="--i: 6"></span>
  </div>
</section>


    <!-- charts section design -->
<section class="charts" id="percentage_charts">
  <h2 class="heading">
    Transactions you do<span> Often</span>
    <span class="animate scroll" style="--i: 1"></span>
  </h2>

  <div class="charts-row">
    <!-- First column -->
    <div class="charts-column">
      <h3 class="title">
        <span>Percentage Analysis</span>
        <span class="animate scroll" style="--i: 2"></span>
      </h3>

      <div class="charts-box">
        <div class="charts-content">

          <!-- REORDERED ITEMS BELOW -->
          <div class="progress">
            <h3>Incoming Money <span>{{ money_received_percentage|floatformat:2 }}%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progress">
            <h3>Airtime bill payments <span>{{ airtime_percentage|floatformat:2 }}%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progress">
            <h3>Transfers to mobile numbers <span>{{ momo_transfers_percentage|floatformat:2 }}%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progress">
            <h3>Bank deposits <span>{{ bank_deposits_percentage|floatformat:2 }}%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progress">
            <h3>Cash Power bill payments <span>{{ cash_power_percentage|floatformat:2 }}%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progress">
            <h3>Payments to code holders <span>{{ payments_code_percentage|floatformat:2 }}%</span></h3>
            <div class="bar"><span></span></div>
          </div>
        </div>
        <span class="animate scroll" style="--i: 3"></span>
      </div>
    </div>

    <!-- Second column -->
    <div class="charts-column">
      <h3 class="title">
        <span>Other Transactions</span>
        <span class="animate scroll" style="--i: 5"></span>
      </h3>

      <div class="charts-box">
        <div class="charts-content">

          <!-- REORDERED ITEMS BELOW -->
          <div class="progress">
            <h3>Transactions by third parties <span>{{ third_party_percentage|floatformat:2 }}%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progress">
            <h3>Bank Transfers <span>{{ withdrawals_percentage|floatformat:2 }}%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progress">
            <h3>Internet and voice bundle purchase <span>{{ bundles_packs_percentage|floatformat:2 }}%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progress">
            <h3>Withdrawal from agents <span>{{ withdrawals_percentage|floatformat:2 }}%</span></h3>
            <div class="bar"><span></span></div>
          </div>
        </div>
        <span class="animate scroll" style="--i: 6"></span>
      </div>
    </div>
  </div>
</section>


    <!-- footer design -->
    <footer class="footer">
      <div class="footer-text">
        <p>
          Copyright &copy; 2025 by Group 13 | All Rights Reserved.
        </p>
        <span class="animate scroll" style="--i: 1"></span>
      </div>

      <div class="footer-iconTop">
        <a href="#"><i class="bx bx-up-arrow-alt"></i></a>
        <span class="animate scroll" style="--i: 3"></span>
      </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>

    <script>
      const scriptURL =
        "https://script.google.com/macros/s/AKfycbxFRX9Oz3oD9OXD6HhUK7Phl4XEfFUsWPm88LieOn0yiSyb5VVnXHnSnElODNIfXDo0/exec";
      const form = document.forms["submit-to-google-sheet"];
      const msg = document.getElementById("msg");

      form.addEventListener("submit", (e) => {
        e.preventDefault();
        fetch(scriptURL, { method: "POST", body: new FormData(form) })
          .then((response) => {
            msg.innerHTML = "Message sent successfully";
            setTimeout(function () {
              msg.innerHTML = "";
            }, 4000);
            form.reset();
          })
          .catch((error) => console.error("Error!", error.message));
      });
    </script>
  </body>
</html>
wnvcx

